<div class="main-bg">
  <div class="box">
    <div class="id"><p>ADVICE #{{id}}</p></div>
    <div class="advice"><p>"{{advice}}"</p></div>
    <div class="divider">
      <object data="../assets/pattern-divider-desktop.svg"> </object>
    </div>
    <div class="button-position">
      <div class="button">
        <button class="custom-button" [ngClass]="{'hover-shadow':shadow_class==1}" (mouseenter)="mouseEnterEvent()" (mouseleave)="mouseLeaveEvent()" (click)="randomAdvice()"><object data="../assets/icon-dice.svg"></object></button>
      </div>
    </div>
  </div>
</div>